* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #4D4D4D;
    background-color: #fff;
}

.text-primary {
    color: #4CAF4F;
}

.button-primary {
    display: flex;
    align-items: center;
    background-color: #4CAF4F;
    color: #fff;
    border: 1px solid #4CAF4F;
    padding: 10px 20px;
    border-radius: 3px;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* header ----------------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 3px 6px rgba(171,190,209,0.4);
}

.header__logo {
    width: 108px;
    height: auto;
}

.header__menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 10px;
}

.header__list {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 15px 0;
    margin: 10px 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    gap: 10px;
}

.header__link {
    color: #4D4D4D;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 25px;
    border-bottom: 2px solid transparent;
}

.header__link:hover {
    color: #000;
}

.header__toggle {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px;
    cursor: pointer;
}

.header__button-icon {
    background-image: url("img/arrow-right.png");
}

.header__button-icon2{
    width: 24px;
    height: 24px;
    display: block;
}
.header__button-icon{
    display: none;
}

.header__button-text {
    display: none;
}

@media (min-width: 780px) {
    .header__list {
        position: static;
        display: flex;
        flex-direction: row;
        gap: 15px;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;
    }

    .header__menu {
        align-items: center;
    }

    .header__toggle {
        display: none;
    }

    .header__link {
        padding: 10px 5px;
    }

    .header__button-icon2{
        display: none;
    }

    .header__button-icon{
        display: block;
    }
    .header__button-text {
        display: block;
    }

}

/* slideshow ----------------------------------------- */

.sideshow {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F5F7FA;
    overflow: hidden;
    height: calc(100vh - 70px);
}

.slideshow__content {
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;

}

@media (min-width: 992px) {
    .slideshow__content {
        flex-direction: row;
    }
}

.slideshow__text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.slideshow__image {
    width: 100%;
    height: auto;
    max-width: 272px;
}

.slideshow__title {
    font-size: 30px;
    color: #4D4D4D;
    max-width: 600px;
    height: auto;
    margin: 0;
    text-align: center;
}

.slideshow__caption {
    font-size: 14px;
    color: #717171;
    margin: 0;
    text-align: center;
}

.slideshow__footer {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px 0;
    justify-content: center;
}

.slideshow__dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4CAF4F;
    opacity: 0.3;
    cursor: pointer;
}

.slideshow__dot--active {
    opacity: 1;
}

.section {
    margin-top: 50px;
}

@media (min-width: 992px) {

    .slideshow__content {
        margin: 100px;
    }

    .slideshow__title {
        font-size: 52px;
        text-align: left;
    }

    .slideshow__text {
        align-items: flex-start;
        gap: 10px;
    }

    .slideshow__caption {
        text-align: left;
    }
}

/* client ----------------------------------------- */

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
}

.client__title {
    font-size: 30px;
    color: #4D4D4D;
    margin-top: 0;
    margin-bottom: 10px;
}

.client__caption {
    font-size: 16px;
    color: #717171;
    margin-top: 0;
    margin-bottom: 30px;
}

.client__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}


/* management ----------------------------------------- */

.management {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 15px;
}

.management__title {
    width: 100%;
    max-width: 470px;
    font-size: 30px;
    color: #4D4D4D;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.management__caption {
    font-size: 16px;
    color: #717171;
    margin-top: 0;
    margin-bottom: 30px;
}

.management__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.management__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(171,190,209,0.2);
    padding: 25px 15px;
}

.management__card__icon {
    width: 45px;
}

@media (min-width: 992px) {
    .management__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        gap: 10px;
    }
}


/* story ----------------------------------------- */

.story {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px 25px;
    margin: auto;
    gap: 50px;
}

.story__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.story__banner {
    width: 100%;
    height: auto;
    max-width: 450px;
 }

.story__title {
    width: 100%;
    max-width: 470px;
    font-size: 30px;
    color: #4D4D4D;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.story__caption {
    font-size: 16px;
    color: #717171;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width: 992px) {

    .story {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .story__content {
        align-items: flex-start;

    }

    .story__title {
        text-align: left;
    }

    .story__caption {
        text-align: left;
    }
}


/* stats ----------------------------------------- */

.stats {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 25px;
    background-color: #F5F7FA;
    gap: 50px;
}

.stats__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 20px;
    text-align: center;
}

.stats__title {
    width: 100%;
    font-size: 30px;
    color: #4D4D4D;
    margin: 0;
}

.stats__caption {
    font-size: 16px;
    color: #717171;
    margin: 0;

}

.stats__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 30px;
}

.stats__content-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.stats__content-single {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.stats__icon {
    width: 40px;
}

@media (min-width: 992px) {

    .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0;
    }

    .stats__text {
        text-align: left;
    }
}

@media (min-width: 490px) {
    .stats__content-row {
        flex-direction: row;
        align-items: center;

    }
}
